/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Tahoma;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  opacity: 0;
  transform: translateY(200px);
  transition: ease-in 0.3s;
}

.show {
  opacity: 1;
  transform: translateY(0px);
  transition: ease-in 0.3s;
}
/* 
Cores defaults do site para utilização

white: #fff
blue: #1c5fa8
yelow: #ffd700
gray: #f4f4f4
*/

/*
para fontes

black: #000
gray: #212529
gray: #333
*/


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 90px;
  padding: 0 10%;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: #1c5fa8;
  text-decoration: none;
  font-weight: 500;
  transition: ease-in 0.2s;
}

nav a:hover {
  color: #ffd700;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #1c5fa8;
  min-height: 200px;
  color: white;
}

.botoes {
  display: flex;
  gap: 30px;
}

.botoes a {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.sec2 {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  min-height: 600px;
}

.textosSec2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: black;
}

.textosSec2 div h1 {
  font-size: 1.8rem;
}

.textosSec2 div hr {
  background-color: #1c5fa8;
  width: 60px;
  height: 5px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 0 10%;
  min-height: 550px;
  text-align: center;
  scroll-snap-align: start;
}

.textosSec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: black;
}

.textosSec3 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.textosSec3 div h1 {
  font-size: 1.8rem;
}

.textosSec3 div hr {
  background-color: #1c5fa8;
  width: 60px;
  height: 5px;
}

.textosSec3 p {
  width: 50%;
  font-size: 1.1rem;
}

.containerCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card img {
  border-radius: 20px;
}

.card img:hover {
  outline: 4px solid #1c5fa8;
  transform: scale(1.06);
}

.card h1 {
  font-size: 1.2rem;
}

.textosSec4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: white;
}

.textosSec4 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.textosSec4 div h1 {
  font-size: 1.8rem;
  margin-top: 40px;
}

.textosSec4 div hr {
  background-color: #ffd700;
  width: 60px;
  height: 5px;
}

.textosSec4 p {
  width: 50%;
  font-size: 1.1rem;

}

#contato {
  display: flex;
  flex-direction: column;
  background-color: #1c5fa8;
  gap: 40px;
  padding: 0 10%;
  
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  margin-bottom: 40px;
}

.form h2{
  text-align: start;
  width: 100%;
  color: #ffd700;
  font-size: 15px;
  font-weight: 300;
}

.formInput{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  outline: none;
  margin-bottom: 15px;
}

.formButton {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ffd700;
  border: none;
  color: black;
  border-radius: 5px;
  margin-right: auto;
}

footer {
  background-color: #1c5fa8;
  color: #fff;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
}

.contatoFooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contatoFooter h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.redesSociais {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: end;
  gap: 10px;
}

.redes-sociais-link {
  display: flex;
  gap: 12px;
}

.redes-sociais-link a {
  text-align: center;
  color: #FFF;
}



