/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Tahoma;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 
Cores defaults do site para utilização

white: #fff
blue: #1c5fa8
yelow: #ffd700
gray: #f4f4f4
*/

/*
para fontes

black: #000
gray: #212529
gray: #333
*/


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 90px;
  padding: 0 10%;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: #1c5fa8;
  text-decoration: none;
  font-weight: 500;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #1c5fa8;
  height: 200px;
  color: white;
}

.botoes {
  display: flex;
  gap: 30px;
}

.botoes button {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.sec2 {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 600px;
}

.textosSec2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: black;
}

.textosSec2 div h1 {
  font-size: 1.8rem;
}

.textosSec2 div hr {
  background-color: #1c5fa8;
  width: 60px;
  height: 5px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 0 10%;
  height: 550px;
  text-align: center;
}

.textosSec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: black;
}

.textosSec3 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.textosSec3 div h1 {
  font-size: 1.8rem;
}

.textosSec3 div hr {
  background-color: #1c5fa8;
  width: 60px;
  height: 5px;
}

.textosSec3 p {
  width: 50%;
  font-size: 1.1rem;
}

.containerCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card img {
  border-radius: 20px;
}

.card h1 {
  font-size: 1.2rem;
}

.textosSec4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: black;
}

.textosSec4 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.textosSec4 div h1 {
  font-size: 1.8rem;
}

.textosSec4 div hr {
  background-color: #1c5fa8;
  width: 60px;
  height: 5px;
}

.textosSec4 p {
  width: 50%;
  font-size: 1.1rem;
}